// Grid column constructor
.grid-constructor(@n, @selector, @padding: 0) {

  @import 'breakpoints';

  .grid-overloop(@suffix, @breakpoint) {

    @media (min-width: @breakpoint) {
      .grid-loop(@n, @selector, @padding, @i: 1) when (@i =< @n) {

        .@{selector}-@{suffix}-@{i} {
          padding: 0 @padding;
          width: (@i * 100% / @n);
        }

        .grid-loop(@n, @selector, @padding, (@i + 1));
      }

      .grid-loop(@n, @selector, @padding);
    }
  }


  .grid-gdd(@n, @suffixes: @suffixes, @breakpoints: @breakpoints, @i: 1) when (@i =< @n) {

    @suffix: extract(@suffixes, @i);
    @breakpoint: extract(@breakpoints, @i);

    .grid-overloop(@suffix, @breakpoint);

    .grid-gdd(@n, @suffixes, @breakpoints, (@i + 1));
  }

  .grid-gdd(5);
}
